In [3]:
import pandas as pd

In [8]:
df_gdp = pd.read_csv('/home/xenakas/Desktop/Git/hierarchical_modelling/gdp_eu.csv')

del df_gdp['Unnamed: 0']

df_gdp = df_gdp.set_index(['geo', 'nace_r2',  'time'])

df_gdp

                                                                             values
geo         nace_r2                                            time
Switzerland Agriculture, forestry and fishing                  2018-04-01     710.8
Cyprus      Agriculture, forestry and fishing                  2018-04-01      63.7
Czechia     Agriculture, forestry and fishing                  2018-04-01     485.8
Finland     Agriculture, forestry and fishing                  2018-04-01    1286.6
France      Agriculture, forestry and fishing                  2018-04-01    7936.3
Italy       Agriculture, forestry and fishing                  2018-04-01    6151.0
Lithuania   Agriculture, forestry and fishing                  2018-04-01     225.9
Luxembourg  Agriculture, forestry and fishing                  2018-04-01      19.9
Latvia      Agriculture, forestry and fishing                  2018-04-01     202.8
Switzerland Industry (except construction)                     2018-04-01   23173.7
Cyprus      Industry (except construction)                     2018-04-01     310.9
Czechia     Industry (except construction)                     2018-04-01   12374.5
Finland     Industry (except construction)                     2018-04-01    9805.8
France      Industry (except construction)                     2018-04-01   67615.4
Hungary     Industry (except construction)                     2018-04-01    6340.0
Italy       Industry (except construction)                     2018-04-01   67040.7
Lithuania   Industry (except construction)                     2018-04-01    1628.4
Luxembourg  Industry (except construction)                     2018-04-01     646.3
Latvia      Industry (except construction)                     2018-04-01     540.2
Switzerland Manufacturing                                      2018-04-01   21749.3
Cyprus      Manufacturing                                      2018-04-01     233.9
Czechia     Manufacturing                                      2018-04-01   12412.5
Finland     Manufacturing                                      2018-04-01    8595.2
France      Manufacturing                                      2018-04-01   59214.1
Hungary     Manufacturing                                      2018-04-01    5687.4
Italy       Manufacturing                                      2018-04-01   60921.2
Lithuania   Manufacturing                                      2018-04-01    1475.9
Luxembourg  Manufacturing                                      2018-04-01     536.6
Latvia      Manufacturing                                      2018-04-01     454.5
Switzerland Construction                                       2018-04-01    4866.4
...                                                                             ...
France      Financial and insurance activities                 1980-07-01    7874.9
            Real estate activities                             1980-07-01   29783.8
            Professional, scientific and technical activiti... 1980-07-01   25079.5
            Public administration, defence, education, huma... 1980-07-01   59932.0
            Arts, entertainment and recreation; other servi... 1980-07-01    6498.6
            Total - all NACE activities                        1980-07-01  223544.3
            Agriculture, forestry and fishing                  1980-04-01    4875.8
            Industry (except construction)                     1980-04-01   40464.4
            Manufacturing                                      1980-04-01   34576.0
            Construction                                       1980-04-01   19666.2
            Wholesale and retail trade, transport, accomoda... 1980-04-01   35154.2
            Information and communication                      1980-04-01    6339.8
            Financial and insurance activities                 1980-04-01    7897.6
            Real estate activities                             1980-04-01   29946.6
            Professional, scientific and technical activiti... 1980-04-01   27728.8
            Public administration, defence, education, huma... 1980-04-01   59568.2
            Arts, entertainment and recreation; other servi... 1980-04-01    6519.3
            Total - all NACE activities                        1980-04-01  234967.8
            Agriculture, forestry and fishing                  1980-01-01    4783.3
            Industry (except construction)                     1980-01-01   41063.4
            Manufacturing                                      1980-01-01   35192.0
            Construction                                       1980-01-01   18586.5
            Wholesale and retail trade, transport, accomoda... 1980-01-01   34259.2
            Information and communication                      1980-01-01    6250.7
            Financial and insurance activities                 1980-01-01    7671.7
            Real estate activities                             1980-01-01   29748.4
            Professional, scientific and technical activiti... 1980-01-01   26935.1
            Public administration, defence, education, huma... 1980-01-01   59307.6
            Arts, entertainment and recreation; other servi... 1980-01-01    6578.7
            Total - all NACE activities                        1980-01-01  232242.7

[11768 rows x 1 columns]

In [10]:
df_gdp = df_gdp.sort_index()

df_gdp

                                                                            values
geo         nace_r2                                            time
Austria     Total - all NACE activities                        1996-01-01  42175.2
                                                               1996-04-01  45122.0
                                                               1996-07-01  45902.3
                                                               1996-10-01  47313.1
                                                               1997-01-01  43623.5
                                                               1997-04-01  45591.5
                                                               1997-07-01  46839.8
                                                               1997-10-01  48903.7
                                                               1998-01-01  45377.4
                                                               1998-04-01  48168.6
                                                               1998-07-01  48489.0
                                                               1998-10-01  49943.6
                                                               1999-01-01  46502.0
                                                               1999-04-01  49100.4
                                                               1999-07-01  50218.7
                                                               1999-10-01  52145.8
                                                               2000-01-01  48227.2
                                                               2000-04-01  51346.2
                                                               2000-07-01  52176.0
                                                               2000-10-01  54084.8
                                                               2001-01-01  50090.8
                                                               2001-04-01  52067.1
                                                               2001-07-01  52528.6
                                                               2001-10-01  54313.1
                                                               2002-01-01  50999.8
                                                               2002-04-01  52860.8
                                                               2002-07-01  53338.8
                                                               2002-10-01  54867.2
                                                               2003-01-01  51514.0
                                                               2003-04-01  53357.4
...                                                                            ...
Switzerland Wholesale and retail trade, transport, accomoda... 2011-01-01  18797.7
                                                               2011-04-01  19077.5
                                                               2011-07-01  19577.0
                                                               2011-10-01  19308.4
                                                               2012-01-01  18757.8
                                                               2012-04-01  19313.7
                                                               2012-07-01  19893.9
                                                               2012-10-01  19845.3
                                                               2013-01-01  18700.6
                                                               2013-04-01  19483.0
                                                               2013-07-01  20105.9
                                                               2013-10-01  20271.1
                                                               2014-01-01  19547.5
                                                               2014-04-01  20166.6
                                                               2014-07-01  21024.9
                                                               2014-10-01  21431.0
                                                               2015-01-01  20568.4
                                                               2015-04-01  21248.6
                                                               2015-07-01  21971.8
                                                               2015-10-01  21704.8
                                                               2016-01-01  21129.5
                                                               2016-04-01  21943.1
                                                               2016-07-01  22162.3
                                                               2016-10-01  21850.8
                                                               2017-01-01  20995.2
                                                               2017-04-01  22126.7
                                                               2017-07-01  22701.6
                                                               2017-10-01  22201.7
                                                               2018-01-01  21406.5
                                                               2018-04-01  22234.3

[11768 rows x 1 columns]